<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Payconiq API assignment">
    <listeners>
	    <listener class-name="com.payconiq.assessment.reports.CustomisedReports" />
    </listeners>
    <test name="Delete Gists">
	    <classes>
            <class name="com.payconiq.assessment.gists.DeleteGistTest"></class>
        </classes>
    </test>

    <test name="Get Gists">
        <classes>
            <class name="com.payconiq.assessment.gists.GetGistTests"></class>
        </classes>
    </test>

    <test name="Update Gists">
        <classes>
            <class name="com.payconiq.assessment.gists.UpdateGistTest"></class>
        </classes>
    </test>

    <test name="Create Gists">
        <classes>
            <class name="com.payconiq.assessment.gists.CreateGistTest"></class>
        </classes>
    </test>
</suite>